[buildout]
parts =
    transmogrify
    code-analysis
    test

    sphinx
develop = .

[transmogrify]
recipe = zc.recipe.egg
eggs = transmogrifier

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src

[sphinx]
recipe = zc.recipe.egg
eggs =
    transmogrifier
    sphinx

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs = transmogrifier [test]
